let content = UNMutableNotificationContent()
content.title = "{{title}}"
content.body = "{{body}}"
content.sound = UNNotificationSound.default

let trigger = UNTimeIntervalNotificationTrigger(timeInterval: 1, repeats: false)
let request = UNNotificationRequest(identifier: "notification", content: content, trigger: trigger)

UNUserNotificationCenter.current().add(request) { error in
    if let error = error {
        print("Error: \(error.localizedDescription)")
    }
}